<div
  id="birthday-countdown"
  style="text-align: center; margin: 20px; font-weight: bold"></div>
<div id="birthday-widget">
  <button id="birthday-toggle" class="hidden">🎉</button>

  <div id="birthday-box" class="hidden">
    <h3>🎂 Happy Birthday Michael!</h3>
    <p>Send me wishes or gifts below 💝</p>

    <form id="birthday-form">
      <input
        type="text"
        id="giftMessage"
        placeholder="Write your message..."
        required />
      <button type="submit" class="submit">Send 🎁</button>
    </form>

    <h4>Messages</h4>
    <ul id="messages-list"></ul>

    <p>
      <strong>Please if any Gift👇👇👇</strong><br />
      📱 <span id="momo-number">0241877694</span> Name:
      <span id="momo-number">Michael Kwesi Eyiah</span>
    </p>
  </div>
</div>
