<footer class="site-footer">
  <div class="socials-container">
    <h3 class="socials-title">Follow Me On Social Media</h3>
    <div class="socials-grid">
      <a
        href="http://www.linkedin.com/in/michael-kwesi-eyiah-3768a832b"
        target="_blank"
        class="social-item">
        <div class="social-icon linkedin">
          <i class="fab fa-linkedin-in"></i>
        </div>
        <span class="social-username">Michael Kwesi Eyiah</span>
      </a>

      <a
        href="https://www.instagram.com/majestic_reciter?igsh=OThqNHh6MnhqNnA4"
        target="_blank"
        class="social-item">
        <div class="social-icon instagram">
          <i class="fab fa-instagram"></i>
        </div>
        <span class="social-username">@Majestic_reciter</span>
      </a>

      <a
        href="http://tiktok.com/@majestic_reciter"
        target="_blank"
        class="social-item">
        <div class="social-icon tiktok">
          <i class="fab fa-tiktok"></i>
        </div>
        <span class="social-username">@Majestic_reciter</span>
      </a>

      <a
        href="http://t.me/Majestictherecitor"
        target="_blank"
        class="social-item">
        <div class="social-icon telegram">
          <i class="fab fa-telegram-plane"></i>
        </div>
        <span class="social-username">@Majestic reciter</span>
      </a>
    </div>
  </div>
  <div class="container footer-p">
    <p>© <span id="year"></span> MJ Portfolio · Built with HTML, CSS & JS</p>
  </div>
</footer>
